#login-body {
    background-color: #659DBD;
    
}

.login-title {
    color: white;
    text-align: center;
    font-family: 'Titan One', cursive;
    font-size: 48px;
    text-shadow: 2px 2px black;
}

.login-subtitle, .login-username-text, .login-password-text {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.login-form {
    margin-top: 50px;
}

.login-username-entry, .login-password-entry {
    display: block;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    font-size: 16px;
    padding: 2px 6px 2px;
    left: 0;
    right: 0;
    margin: auto;

    /* cannot get username and password entry fields to center */

    
}

.login-login-button {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
}

.login-login-button:hover {
    background-color: white;
}

.login-no-account {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

#signup-body {
    background-color: #659DBD;
}

.signup-header {
    font-size: 36px;
    text-align: center;
    font-family: 'Titan One', cursive;
    color: white;
    text-shadow: 2px 2px black;
}

.signup-new-user-fields {
    display: block;
    border: 1px solid black;
    width: 40%;
    left: 0;
    right: 0;
    margin: auto;
}

.signup-form {
    margin-top: 100px;
}

.signup-new-username-entry, .signup-new-password-entry, .signup-confirm-password-entry {
    display: block;
    font-size: 18px;
    width: 40%;
    height: 45px;
    margin-bottom: 5px; /*not working*/
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
}

.signup-submit-button {
    display: block;
    width: 30%;
    height: 45px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: grey;
    border-color: grey;
    font-size: 18px;
}

.signup-submit-button:hover {
    background-color: white;
}

.signup-back-to-login {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

#dashboard-body {
    background-color: #659dbd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.dashboard-title {
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    font-family: 'Titan One', cursive;
    text-align: center;
}

.dashboard-logout-button {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
}

.dashboard-logout-button:active {
    color: red;
}

.dashboard-workout-entry {
    border-radius: 6px;
    background-color: #fbeec1;
    margin-bottom: 10px;
    width: 80%;
}

.dashboard-workout-update-button, .dashboard-workout-delete-button, .dashboard-post-button {
    display: inline-block;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
}

.dashboard-post-button {
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
}

#workout-type {
    border-radius: 6px;
    height: 40px;
    width: 150px;
    font-size: 16px;
}

#time-spent {
    height: 40px;
    width: 60px;
    border-radius: 6px;
    font-size: 16px;
}

#workout-details {
    height: 40px;
    width: 300px;
    border-radius: 6px;
    font-size: 16px;
}

@media only screen and (max-width: 620px) {
    .signup-new-user-fields, .signup-new-username-entry, .signup-new-password-entry, .signup-confirm-password-entry, .signup-submit-button {
        width: 80%
    }

    .dashboard-workout-entry {
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 5px;
    }
    
    .dashboard-post-button {
        width: 80%;
        display: block;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 10px;
    }

    .dashboard-success-message {
        font-size: 14px;
        color: white;
        text-shadow: 2px 2px black;
        
    }

    .blog-entry-form {
        left: 0;
        right: 0;
        margin: auto;
    }


}